<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Home </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(content='Update Password')"></nav>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Update Password</div>
            <div class="card-body">
                <form th:action="@{/user/updatePass}" method="POST">
                    <input type="hidden" name="username" th:value="${#httpServletRequest.userPrincipal.name}">
                    <label> Password Lama</label>
                    <input type="password" name="password" class="form-control"/>

                    <label> Password Baru</label>
                    <input id="2" type="password" name="newPassword" class="form-control"/>

                    <label> Konfirmasi Password Baru</label>
                    <input id="1" type="password" name="confirmPassword">
                    <br>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>